@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.news-item-even {
  flex-direction: row-reverse;
}

.news-item-odd {
  flex-direction: row;
}

.border-blue-left {
  right: 0;
  transform: rotate(45deg);
  transform-origin: top left;
}

.border-blue-right {
  left: 0;
  transform: rotate(-45deg);
  transform-origin: top right;
}

html {
  background-color: #0F172A; /* Ganti dengan warna latar belakang yang Anda inginkan */
}

ul {
  list-style:disc; /* Atur jenis pembulatan (bullet style) sesuai keinginan */
  margin-left: 20px; /* Atur margin kiri sesuai keinginan */
}

ol {
  list-style-type: decimal;
  margin-left: 20px; /* Atur margin kiri sesuai keinginan */
}

li {
  margin: 5px 0; /* Atur margin di sekitar elemen li sesuai keinginan */
}
